on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron:  '0 19 * * 2'


jobs:
  jenkins-lts:
    runs-on: ubuntu-latest
    name: test on jenkins lts
    steps:
      - uses: actions/checkout@v4
      - name: test jenkins-lts
        uses: ./test/jenkins-lts/

  # last good version: to update it, run "update-version.yml" workflow
  jenkins-last:
    runs-on: ubuntu-latest
    name: test on jenkins last good version
    steps:
      - uses: actions/checkout@v4
      - name: test jenkins-last
        uses: ./test/jenkins-last/

  jenkins-2-190-1:
    runs-on: ubuntu-latest
    name: test on jenkins 2.190.1
    steps:
      - uses: actions/checkout@v4
      - name: test jenkins-2.190.1
        uses: ./test/jenkins-2.190.1/
