on:
  schedule:
    # once a week to check with latest version of plugins
    - cron:  '0 19 * * 1'
  workflow_dispatch:

jobs:
  jenkins-lts:
    runs-on: ubuntu-latest
    name: test on jenkins-lts
    steps:
      - uses: actions/checkout@v2
        with:
           ref: test
      - name: test jenkins-lts
        uses: ./.github/jenkins-lts/
